Repository jetexe/cookiecutter-docker, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, .github, CI, dev

build fix
  .github/workflows/release.yml
Labels: .github, CI

update readme
  README.md
Labels: docs

fix workflow job name
  .github/workflows/release.yml
Labels: .github, CI

fix desc
  README.md
Labels: docs

improve CI & dockerfile
  .dockerignore
  .editorconfig
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .idea/.gitignore
  .idea/cookiecutter-docker.iml
  .idea/modules.xml
  .idea/vcs.xml
  Dockerfile
  requirements.txt
Labels: .github, CI, dev

Remove ignored files
  .gitignore
Labels: dev

Delete .idea directory
  .idea/.gitignore
  .idea/cookiecutter-docker.iml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

CI updated
  .github/workflows/release.yml
Labels: .github, CI

Update .dockerignore
  .dockerignore
Labels: dev

remove arm arch
  .github/workflows/release.yml
Labels: .github, CI

CI updated
  .github/workflows/tests.yml
Labels: .github, CI

CI updated
  .github/workflows/release.yml
Labels: .github, CI

CI updated
  .github/workflows/tests.yml
Labels: .github, CI

CI updated
  .github/workflows/tests.yml
Labels: .github, CI

Add missed arm platforms
  .github/workflows/release.yml
Labels: .github, CI

push ghcr
  .github/workflows/release.yml
Labels: .github, CI

Add v1 branch track
  .github/dependabot.yml
Labels: .github

Bump cookiecutter from 1.7.3 to 2.1.0
  requirements.txt
Labels: none

Add v1 branch track
  .github/dependabot.yml
Labels: .github

activate actions on v1
  .github/workflows/tests.yml
Labels: .github, CI

Bump cookiecutter/cookiecutter from 2.1.0 to 2.1.1
  requirements.txt
Labels: none

CI updated
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
Labels: .github, CI, dev

Add missed arm platforms
  .github/workflows/release.yml
Labels: .github, CI

push ghcr
  .github/workflows/release.yml
Labels: .github, CI

Add v1 branch track
  .github/dependabot.yml
Labels: .github

Bump cookiecutter/cookiecutter from 2.1.0 to 2.1.1
  requirements.txt
Labels: none

Bump cookiecutter from 1.7.3 to 2.1.0
  requirements.txt
Labels: none

recreate v1 branch
  .github/workflows/tests.yml
  requirements.txt
Labels: .github, CI

Update tests.yml
  .github/workflows/tests.yml
Labels: .github, CI

Update tests.yml
  .github/workflows/tests.yml
Labels: .github, CI

wip
  .github/workflows/tests.yml
Labels: .github, CI

f
  .github/workflows/tests.yml
Labels: .github, CI

g
  .github/workflows/tests.yml
Labels: .github, CI

w
  .github/workflows/tests.yml
Labels: .github, CI

f
  .github/workflows/tests.yml
Labels: .github, CI

f
  .github/workflows/tests.yml
Labels: .github, CI

f
  .github/workflows/tests.yml
Labels: .github, CI

f
  .github/workflows/tests.yml
Labels: .github, CI

Fix gitleacks
  .github/workflows/tests.yml
Labels: .github, CI

Fix gitleacks
  .github/workflows/tests.yml
Labels: .github, CI

.github/labeler.yml:

docs:
  - '**/*.md'
  - '**/*.MD'

.github:
  - '.github/**/*'

CI:
  - '.github/workflows/**/*'
  - '.github/actions/**/*'

dev:
  - 'Dockerfile'
  - '.gitignore'
  - '.dockerignore'
  - '.editorconfig'
